fastapi
uvicorn
sqlalchemy
google-genai
langchain
langgraph
langchain-google-genai
pydantic[email]
pyjwt
passlib[bcrypt]
python-dotenv
httpx
python-multipart
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
boto3
filetype
psycopg2-binary
